[submodule "mavlink/include/mavlink/v1.0"]
	path = mavlink/include/mavlink/v1.0
	url = git://github.com/mavlink/c_library.git
[submodule "uavcan"]
	path = uavcan
	url = git://github.com/pavel-kirienko/uavcan.git
[submodule "NuttXmain"]
	path = NuttXmain
	url = git://github.com/PX4/NuttX.git
[submodule "NuttXkbrtny"]
	path = NuttXkbrtny
	url = https://github.com/kbrtny/PX4NuttX
